@model CooperationHullMainSite.Models.PostSummary
<div class="blog-post-summary">

    <div class="blog-summary-list-image-container">
        <img src="@(Model.summaryImageUrl)" alt="@(Model.imageAltText)" />
    </div>

    <div class="blog-summary-text-container">
        <h3 class="heading-m">@Model.Title</h3>
        <p class="text-line blog-summary-date">@Model.date.ToString("dd MMMM yyyy")</p>
        <p class="text-line">By @Model.author</p>
    </div>
    <div class="blog-summary-link-container">
        <a href='blog/@(Model.slug)' target='_blank'>
            <img src="~/assets/img/next arrow.svg" alt="arrow" />
        </a>
    </div>

</div>
