<!DOCTYPE html>
<html lang="en">
<head>
    @{
        var url = $"https://www.cooperationhull.co.uk{ViewContext.HttpContext.Request.Path}";

        var description = "Cooperation Hull - Strong, caring communities. Enough food for everyone. A healthy planet. Lives filled with meaning. This is the kind of world we all want. So why don't we build it?";

        if( !string.IsNullOrWhiteSpace(ViewBag.Description))
        {
            description = ViewBag.Description;
        }

        //TODO add in ability to set custom images per page for og:image
        var title = $"Cooperation Hull | {@ViewBag.Title}";
}

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name=description content="@description" />
    <title>@title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CooperationHullMainSite.styles.css" asp-append-version="true" />

    <!-- Temp fix until we have the right font files format sorted out-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">

    <!--Open Graph-->


    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="\assets\img\Cooperation Hull Circle Logo 2.png" />
    <meta property="og:url" content="@url" />
    <meta property="og:description" content="@description" />

</head>
<body>

    <header>
        <div class="cookieConsentContainer">
            <partial name="_CookieConsentPartial" />
        </div>
        <div class="navbarContainer">
        @{
            await Html.RenderPartialAsync("_Navbar_LC");
        }    
        </div>
    </header>


    <div class="main-content">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        @{
            await Html.RenderPartialAsync("_footer");
        }
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        const contentElements = document.getElementsByClassName('content-page')
        if (contentElements.length > 0) {
            document.getElementById("navbar-logo-img").src = `..\\assets\\img\\Circle Logo Black.svg`;
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
