@model CooperationHullMainSite.Models.EventPageModel
@{
    ViewBag.Title = $"Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12 content-page "> 
        <h1>Events</h1>

        <h2> List of tags to go in filter</h2>

        @foreach(string item in Model.tags)
        {
            <p>@item</p>
        }

        <h2> List of data from events items</h2>
        @foreach (EventItem item in Model.events)
        {
            <p>@item.title</p>
            <p>@item.description</p>
            <p>@item.date.ToString("dd-MM-yyyy")</p>
            <p>@item.startTime</p>
            <p>@item.endTime</p>
            <p>@item.imagesName</p>
            <p>@item.imageAltText</p>
            <p>@item.tagData</p>
            <p>@item.locationLink</p>
            <br />
        }



    </div>

</div>